@import "lib/variables";
body {
  font-family: "Gotham";
  font-weight: normal;
}

//TEXT
// .title {
// color: white;
//   }
//SCROLLMAGIC
.pinContainer1 {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
// #pinMaster1 {
//     background-color: black;
// }